<html>

<body>
    <form method="post" action="/changepasswordprocess">
        Old Password : <input type="text" name="txt1" />
        New Password : <input type="text" name="txt2" />
        Confirm Password : <input type="text" name="txt3" />
        <input type="submit" />

    </form>
</body>

</html>